<!DOCTYPE html>
<html>
    <head>
        <!-- Standard Meta -->
        <% include ../header %>

        <script src="/javascripts/utils.js"></script>
        <!-- Default home page -->
        <link rel='stylesheet' type="text/css" href="http://fonts.googleapis.com/css?family=Oswald">
        <style>
            html, body { height: 100%; width: 100%; margin: 0; }

            body {
                font-family: 'Oswald', serif;
            }

            #header {
                background-image:url(/images/bg.png); 
                background-repeat: repeat;
                padding: 20px 0px;
                -webkit-box-shadow: 0 0 2px 0;
                box-shadow: 0 0 2px 0;
            }

            .container {
                padding: 10px 25px;
                font-family: "Heiti", "STHeiti", "SimHei";
            }

            .ui.basic.table td {
                padding: 5px;
            }

            .mytag {
                display: inline-table;
                background-color: #B2B2B2;
                vertical-align: middle;
                border-color: #E8E8E8;
                padding: .3em .4em .2em .6em;
                color: white;
                text-transform: uppercase;
                font-size: 10pt;
                border-radius: .325em;
                width: 95px;
                height: 46px;
                border-collapse: separate;
                margin: 0 2px;
                cursor: pointer;

                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-transition: background .1s linear;
                -moz-transition: background .1s linear;
                transition: background .1s linear;
            }

            .mytag .data {
                display: table-cell;
                vertical-align: middle;
                line-height: 1.2em;
                padding-top: 2px;
            }

            .mytag .detail {
                display: table-cell;
                vertical-align: middle;
                padding-top: 0px;
                text-align: right;
                font-size: 12pt;
                font-family: 'Oswald', sans-serif;
            }

            .circle{
                width:30px;
                height:30px;
                border-radius:15px;
                font-size:14pt;
                color:#fff;
                line-height:30px;
                text-align:center;
                background:#36bac1;
                padding:4px 2px 0 2px;
            }
        </style>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/javascript/semantic.min.js"></script>

        <script>
            $(function() {
                $.get('/api/channel/testData', function(res){
                    res = res.result;
                    for (var i = 0; i < res.length; i++) {
                        var tr = $('<tr>');
                        var rankLabel = $('<div class="circle">').html(i+1);
                        var rank = $('<td align="center">').append(rankLabel);
                        var channelName = $('<td align="center">').text(res[i].channelName);
                        var size = $('<td align="center" style="font-size: 18pt; font-family: Oswald, sans-serif;">').text(res[i].size);

                        var categoryPrefix = $('<div>');
                        for (var j = 0; j < res[i].category.length && j < 8; j++) {
                            var mytag = $('<div class="mytag">');
                            (function(categoryName, channelName) {
                                mytag.click(function(){
                                    console.log('/table/detail?channelName=' + channelName + '&categoryName=' + categoryName);
                                    $('#myiframe').attr('src', '/table/detail?channelName=' + channelName + '&categoryName=' + categoryName);
                                    $('.ui.page.dimmer').dimmer('show');
                                });
                            })(res[i].category[j].categoryName, res[i].channelName);
                            var label = $('<div class="data">');
                            var temp = res[i].category[j].categoryName;
                            temp = temp.replace(/、/g, '或');
                            temp = temp.replace(/\//g, '');
                                var s = '';
                            if (temp.length <= 4) {
                                s = temp;
                            } else {
                                var mid = Math.ceil(temp.length / 2);
                                if (mid > 4) {
                                    mid = 4;
                                }
                                s = temp.slice(0, mid) + "<br/>" + temp.slice(mid, 8);
                            }
                            label.html(s);
                            mytag.attr('data-content', res[i].category[j].categoryName);
                            var labelDetail = $('<div class="detail">').text(res[i].category[j].size);
                            mytag.append(label);
                            mytag.append(labelDetail);
                            categoryPrefix.append(mytag);
                        }
                        var category = $('<td>').append(categoryPrefix);

                        tr.append(rank);
                        tr.append(channelName);
                        tr.append(category);
                        tr.append(size);
                        $('#tableContent').append(tr);
                    }

                    $('.mytag').popup({
                        on: 'hover'
                    });
                });
            });
        </script>
    </head>
    <body>

        <div id="header">
            <div class="ui column stackable center aligned page grid">
                <a href="/">
                    <img class="column eight wide" src="/images/table_head.png" width="50%">
                </a>
            </div>
        </div>

        <div id="main" class="container">
            <table class="ui basic table">
                <tr><td align="center" width="5%">排名</td>
                    <td align="center" width="12%">新聞台名稱</td>
                    <td align="center">該新聞台申訴案件之類別</td>
                    <td align="center" width="10%">申訴總件數</td>
                </tr>
                <tbody id="tableContent">
                </tbody>
            </table>

            <div class="ui page dimmer">
                <div class="content center">
                    <iframe id="myiframe" style="margin-top: 50px;" frameborder="0" width="100%" height="80%" src="/table/detail"/>
                </div>
            </div>
        </div>
    </body>
</html>
