<!-- Default home page -->
<link rel='stylesheet' type="text/css" href='http://sailsjs.org/styles/fonts.css'/>
<link rel='stylesheet' type="text/css" href='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css'/>
<link rel='stylesheet' type="text/css" href="http://fonts.googleapis.com/css?family=Oswald">

<style>
    html, body { height: 100%; width: 100%; margin: 0; }

    body {
        font-family: 'Oswald', serif;
    }

    #main {
        background-image:url(/images/bg.png); 
        background-repeat: repeat;
        height: 85%;
    }

    .ui.raised.segment {
        -webkit-box-shadow: 2px 2px 1px 1px;
        box-shadow: 2px 2px 1px 1px;
        padding: 0px;
    }

    .countblack {
        background: #36bac1;
        width:20%;
        height:65px;
        float: right;
        display:table-cell;
        vertical-align:middle;
        font-size:2em;
    }
</style>

<div id="main" class="container">
    <div class="ui column stackable center aligned page grid">
        <img class="column two wide" src="/images/face.png">
    </div>
    <div class="ui six column stackable center aligned page grid">
        <div class="column five wide"> 
            <div class="ui raised segment">
                <i class="text huge file icon"></i>
                <b>
                    Pretty nice animals.</b>
                <div class="countblack">
                        77
                </div>
            </div>
        </div>
        <div class="column five wide">
            <div class="ui raised segment">
                <i class="trophy huge icon"></i>
                <b>Pretty nice animals.</b>
                <div class="countblack">
                        43
                </div>
            </div>
        </div>
    </div>
</div>
