<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <style>

        body {
            font: 10px sans-serif;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .area {
            fill: steelblue;
        }

    </style>
    <head>
        <% include ../header %>
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.5/d3.min.js"></script>
    </head>
    <body>
        <script>

            var margin = {top: 20, right: 20, bottom: 30, left: 50},
            width = 1024 - margin.left - margin.right,
            height = 700 - margin.top - margin.bottom;

            var parseDate = d3.time.format("%d-%b-%y").parse;

            var x = d3.time.scale()
            .range([0, width]);

            var y = d3.scale.linear()
            .range([height, 0]);

            var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom");

            var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left");

            var area = d3.svg.area()
            .x(function(d) { return x(d.date); })
            .y0(height)
            .y1(function(d) { return y(d.value); });

            var svg = d3.select("body").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            $(function() {
                $('.ui.page.dimmer').dimmer('show');
                $.get('/api/complain?limit=500', function(data) {

                    data = data.result;
                    var dateMapping = {};
                    data.forEach(function(d) {
                        try {
                            if (d.cid) {
                                var s = d.cid.split('P')[0];
                                var date = [s.slice(0,4), s.slice(4,6), s.slice(6,8)].join('-');
                                if (!dateMapping[date]) dateMapping[date] = 0;
                                dateMapping[date]++;
                            }
                        } catch(e) {
                        }
                    });

                    data = [];
                    for (var key in dateMapping) {
                        data.push({date:new Date(key), value: dateMapping[key]}) 
                    }

                    x.domain(d3.extent(data, function(d) { return d.date; }));
                    y.domain(d3.extent(data, function(d) { return +d.value; }));

                    svg.append("path")
                    .datum(data)
                    .attr("class", "area")
                    .attr("d", area);

                    svg.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + height + ")")
                    .call(xAxis);

                    svg.append("g")
                    .attr("class", "y axis")
                    .call(yAxis)
                    .append("text")
                    .attr("transform", "rotate(-90)")
                    .attr("y", 6)
                    .attr("dy", ".71em")
                    .style("text-anchor", "end")
                    .text("Fans (people)");

                    $('#start').append(data[data.length-1].date);
                    $('#end').append(data[0].date);
                    $('.ui.page.dimmer').dimmer('hide');
                });
            });

        </script>
        <div class="ui page dimmer">
            <div class="content">
                <div class="center"><i class="massive loading icon"></i> Loading</div>
            </div>
        </div>
        <div class="ui divided selection list">
            <a class="item" id="start">
                <div class="ui blue horizontal label">Start</div>
            </a>
            <a class="item" id="end">
                <div class="ui blue horizontal label">End</div>
            </a>
        </div>
    </body>
</html>
