<!-- Default home page -->
<link rel='stylesheet' type="text/css" href='http://sailsjs.org/styles/fonts.css'/>
<link rel='stylesheet' type="text/css" href='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css'/>
<link rel='stylesheet' type="text/css" href="http://fonts.googleapis.com/css?family=Oswald">

<style>
    html, body { height: 100%; width: 100%; margin: 0; }

    body {
        font-family: 'Oswald', serif;
    }

    #main {
        background-image:url(/images/bg.png); 
        background-repeat: repeat;
        height: 20%;
    }

    .ui.raised.segment {
        -webkit-box-shadow: 2px 2px 1px 1px;
        box-shadow: 2px 2px 1px 1px;
        padding: 0px;
    }

    .countblack {
        background: #36bac1;
        width:20%;
        height:65px;
        float: right;
        display:table-cell;
        vertical-align:middle;
        font-size:2em;
    }
</style>

<div id="main" class="container">
</div>
