<!-- Default home page -->
<link rel='stylesheet' type="text/css" href='http://sailsjs.org/styles/fonts.css'/>
<link rel='stylesheet' type="text/css" href='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css'/>
<link rel='stylesheet' type="text/css" href="http://fonts.googleapis.com/css?family=Oswald">

<style>
    html, body { height: 100%; width: 100%; margin: 0; }

    body {
        font-family: 'Oswald', serif;
    }

    #header {
        background-image:url(/images/bg.png); 
        background-repeat: repeat;
        padding: 20px 0px;
        -webkit-box-shadow: 0 0 2px 0;
        box-shadow: 0 0 2px 0;
    }

    .container {
        padding: 10px 25px;
    }
</style>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/javascript/semantic.min.js"></script>

<script>
    $(function() {
        $.get('/api/channel/testData', function(res){
            //res = res.result;
            for (var i = 0; i < res.length; i++) {
                var tr = $('<tr>');
                var rankLabel = $('<div class="ui teal circular label" style="width: 26px;">').text(i+1);
                var rank = $('<td>').append(rankLabel);
                var channelName = $('<td>').text(res[i].channelName);
                var size = $('<td>').text(res[i].size);

                var categoryPrefix = $('<div class="ui large labels">');
                for (var j = 0; j < res[i].category.length && j < 8; j++) {
                    var label = $('<div class="ui label">');
                    label.text(res[i].category[j].categoryName.slice(0, 4));
                    label.attr('data-content', res[i].category[j].categoryName);
                    categoryPrefix.append(label);
                }
                var category = $('<td>').append(categoryPrefix);

                tr.append(rank);
                tr.append(channelName);
                tr.append(category);
                tr.append(size);
                $('#tableContent').append(tr);
            }

            $('.ui .label').popup({
                on: 'hover'
            });
        });
    });
</script>

<div id="header">
    <div class="ui column stackable center aligned page grid">
        <a href="/">
            <img class="column eight wide" src="/images/table_head.png" width="50%">
        </a>
    </div>
</div>

<div id="main" class="container">
    <table class="ui basic table">
        <thead>
            <tr><th>排名</th>
                <th>新聞台名稱</th>
                <th>該新聞台申訴案件之類別（十六個類別依數量排序）</th>
                <th>申請件總數</th>
        </tr></thead>
        <tbody id="tableContent">
        </tbody>
    </table>
</div>
